@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #264653;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: #2A9D8F;
}

.neumorphic-button {
  /* display: inline-size;
  aspect-ratio: 1/1; */
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  display: grid;
  place-content: center;
  gap: 1rem;

  --shadow:
    -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
    .5rem .5rem 1rem hsl(0 0% 50% / .5);
  box-shadow: var(--shadow);
  outline: none;
  transition: all 0.1s;

  &:hover, &:focus-visible {
    color: #2A9D8F;
    transform: scale(1.1);
  }
  &:active, &.active {
    box-shadow:
      var(--shadow),
      inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
      inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
  }
}

.neumorphic-button:active span {
  font-size: 0.875rem;
  transition: font-size 0.1s;
}

/* MenuDrawer */
.ant-drawer-header-title {
  flex-direction: row-reverse;
}

.ant-drawer-title {
  font-size: 36px !important;
}

.ant-drawer-close {
  font-size: 36px !important;
}

.ant-menu-item:hover {
  background-color: #e9f5f3 !important;
}
.ant-menu-item:active {
  background-color: #2A9D8F !important;
}
.ant-menu-item:focus-visible {
outline: 4px solid #e9f5f3 !important;} 
.ant-menu-item-selected {
  background-color: unset !important;
  color: unset !important;
}
/* END MenuDrawer */
